//
// Components > Modal
// --------------------------------------------------

// Reset bootstrap flex layout
.modal-content,
.modal-header,
.modal-body,
.modal-footer {
  display: block;
}

// Prevent bootstrap modal responsive
@include media-breakpoint-down(xl) {
  .modal-open .modal {
    overflow-x: auto;
  }

  .modal-md {
    width: $modal-md;
    max-width: $modal-md;
  }
  .modal-lg {
    width: $modal-lg;
    max-width: $modal-lg;
  }
  .modal-xl {
    width: $modal-xl;
    max-width: $modal-xl;
  }
}

.modal-md,
.modal-lg,
.modal-xl {
  .modal-body {
    padding-bottom: 0;
  }
}


//== Modal header
//

.modal-header {
  position: relative;

  .close {
    position: absolute;
    top: 50%;
    right: 0.25rem;
    transform: translateY(-50%);
    margin: 0;
    //color: #ffffff;
    font-weight: normal;
  }
}

.modal-title {
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 1.2;
}


//== Modal footer
//

.modal-footer {
  [class^=btn] {

  }
}
