//
// Components > Pagination
// --------------------------------------------------

.pagination {
  display: block;
  margin-bottom: 5rem;;
  padding: 0;
  text-align: center;

  .previous .xi-play {
    transform: rotateY(180deg);
  }
}

.page-item {
  display: inline-block;

  & ~ .page-item {
    margin-left: 0.25rem;
  }
}

.page-link {
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  border-color: transparent; // override bootstrap
  border-radius: $border-radius;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover, &:focus {
    color: $primary;
    background-color: transparent; // override bootstrap
    border-color: $primary;
  }

  &.active, &:active {
    color: #fff;
    background-color: $primary;
  }
}

.page-link.first,
.page-link.previous,
.page-link.next,
.page-link.last {
  color: $light;

  &:hover, &:focus {
    color: $gray;
    border-color: transparent;
  }
}

.navbar-pagination {
  overflow: auto;
}

// 목록 테이블 하단에 배치될 경우 마진 탑 값 줌
.table-responsive + .navbar-pagination {
  margin-top: 2.5rem;
}

// 모달내부 페이지네이션의 마진 바탐 값 줄임
.modal .pagination {
  margin-bottom: 2.5rem;
}
