//
// Components > Table
// --------------------------------------------------


// 너비 고정 스타일

.table-fixed {
  table-layout: fixed;
}


// Hover 스타일

.table-hover tbody tr:hover th,
.table-hover tbody tr:hover td {
  background-color: rgba(0,0,0,0.075);
}


//
// 테이블 기본 스타일
//

.custom-table {
  width: 100%;
  margin-bottom: 50px;

  th, td {
    word-break: keep-all;
  }

  th {
    font-weight: 500;
    font-size: 1rem;
  }

  tbody td {
    font-size: 0.9375rem;
  }
}

.table-responsive table {
  margin-bottom: 0;
}


//
// 테두리 있는 테이블
//

.custom-table-bordered {
  tr {
    th, td {
      border-top: 1px solid $border-color;
    }

    th:first-child {
      border-left: 1px solid $border-color;

      &.border-dashed {
        border-left-style: dashed;
      }
    }

    th ~ th:last-child,
    td:last-child {
      border-right: 1px solid $border-color;
    }

    &:last-child {
      th, td {
        border-bottom: 1px solid $border-color;
      }
    }
  }

  thead {
    tr {
      th:not(:first-child),
      td:not(:first-child) {
        border-left: 1px dashed $border-color;
      }

      td:last-child,
      th:last-child {
        border-right: 1px solid $border-color;
      }

      &:last-child {
        th, td {
          border-bottom: 0;
        }
      }
    }
  }

  tbody {
    tr {
      th:not(:first-child),
      th.border-left,
      td:not(:first-child),
      td.border-left {
        border-left: 1px dashed $border-color;
      }

      td + th {
        border-left-style: solid !important;
      }

      td:not(.td):first-child {
        border-left: 1px solid $border-color;
      }

      .td {
        border-left: 1px dashed $border-color;
      }
    }

    // th[rowspan] 있을 경우
    tr:last-child .td:first-child {
      border-bottom-left-radius: 0;
    }
  }
}


//
// 모서리 둥근 테이블
//

.custom-table-rounded {
  border-radius: $border-radius-lg;
  border-collapse: separate;
  border-spacing: 0;

  tr:first-child {
    th:first-child,
    td:first-child {
      border-top-left-radius: $border-radius-lg;
    }

    th:last-child,
    td:last-child {
      border-top-right-radius: $border-radius-lg;
    }
  }

  thead + tbody tr:first-child {
    th:first-child,
    td:first-child {
      border-top-left-radius: 0;
    }

    th:last-child,
    td:last-child {
      border-top-right-radius: 0;
    }
  }

  tbody tr:last-child {
    th:first-child,
    td:first-child {
      border-bottom-left-radius: $border-radius-lg;
    }

    th:last-child,
    td:last-child {
      border-bottom-right-radius: $border-radius-lg;
    }
  }

  // Custom Bootstrap utilities's round size
  .rounded {
    border-radius: $border-radius-lg;
  }

  .rounded-left {
    border-top-left-radius: $border-radius-lg !important;
    border-bottom-left-radius: $border-radius-lg !important;
  }

  .rounded-right {
    border-top-right-radius: $border-radius-lg !important;
    border-bottom-right-radius: $border-radius-lg !important;
  }
}


//
// 수평 스크롤 테이블 (제목셀 고정)
//

.custom-table-scrollable {
  display: block;
  height: 100%;
  overflow: auto;

  thead {
    transform: translateZ(0); // Let the browser prep hardware acceleration
  }

  tbody {
    th {
      transform: translateZ(0);
    }
  }

  &.is-scroll-x .fixed-x.last {
    border-right: 1px dashed $border-color;
  }

  &::-webkit-scrollbar {
    height: 14px;
    width: 14px;
    background: #fefefe;
  }
  &::-webkit-scrollbar-thumb {
    background: #d2d8e3;
    border-radius: 10px;
    border: 3px solid #fff
  }
}

