<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <div class="grid-container wrapper">
        <header class="grid-item header"></header>

        <main class="grid-item main">
            <div class="container">
                <h1><%= title %></h1>
            </div>
        </main>

        <footer class="grid-item footer"></footer>
    </div>
</body>
</html>