//
// Helpers > Helpers
// 클래스, 기타 도우미들
// --------------------------------------------------

// 마우스 오버 시 링크에 언더라인 주기
//

.hover-underline {
  position: relative;
  display: inline-block;

  &:after,
  &:after {
    display: block;
    padding-top: 2px;
    content: "";
    border-bottom: 1px solid transparent;
  }

  &:hover::after,
  &:focus::after {
    border-color: #fff;
  }
}
