//
// LAYOUTS > CONTENT STYLES
// ------------------------------------------------------------

//$page-min-width: 1280px;
//$page-max-width: 1440px;

$contextual-sidebar-width: 212px;
$icon-sidebar-width: 52px;

$body-bg: #f9fafb;

body {
  // width: 100%;
  // height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: $body-bg;
}

// 좁은 화면 대응은 다음 마일드 스톤에서...
//@media screen and (max-width: 1279px) {
//  html, body, .l-wrap {
//    width: 1280px;
//  }
//}
//
//@media screen and (min-width: 1280px) {
//  html, body, .l-wrap {
//    min-width: 1440px;
//  }
//}

.page-wrap {
  // transition: padding-left 0.3s;
  position: relative;
  overflow: hidden;
  width: 100%;
  // min-width: 1440px; // 좁은 화면 대응시 주석 처리
  // min-height: 100%;
  // background: $body-bg;
  // box-shadow: 0 1px 0 0 $border-color;
}

.page-with-contextual-sidebar .l-wrap {
  // padding-left: $contextual-sidebar-width;

  // 좁은 화면 대응은 다음 마일드 스톤에서...
  //@media (max-width: 1279px) {
  //  padding-left: $icon-sidebar-width;
  //}
}

//.page-with-icon-sidebar .l-wrap {
//  padding-left: $icon-sidebar-width;
//}

.page-main {
  position: relative;
  overflow-x: auto;
  min-height: 100vh;
  margin-left: $contextual-sidebar-width;
  background: #f9fbfd;
  // box-shadow: 0 3px 9px 0 rgba(162,176,190,.15);
  // border-top-left-radius: 5px;
  // border-top-right-radius: 5px;
  // overflow: hidden;
  // transition: padding 0.3s;
  // min-height: 100%;
  // padding-bottom: 100px;
}

.container-limited {
  overflow: auto;
  width: 100%;
  min-width: 1228px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.row {
  margin-right: -10px;
  margin-left: -10px;

  > .col,
  > [class*='col-'] {
    padding-right: 10px;
    padding-left: 10px;
  }
}
