//
// LAYOUTS > SIDEBAR STYLES
// ------------------------------------------------------------

$sidebar-padding-x: 30px;
$sidebar-text-color: #6b7889;

$context-header-height: 240px;
$context-footer-height: 100px;

.sidebar {
  z-index: 10;
  height: 100%;
  background-color: #fff;
  color: $sidebar-text-color;
  transition: .2s ease-in;
  // transition: width 0.3s, left 0.3s;
  // position: absolute;
  // z-index: 1;
}

.contextual-sidebar {
  // top: 0;
  // bottom: 0;
  // left: 0;
  // width: $contextual-sidebar-width;
  // box-shadow: 1px 1px 0 $border-color;
  // //box-shadow: inset -1px 0 0 $border-color;
  // background-color: #fff;
  // color: $sidebar-text-color;
  // transform: translate3d(0, 0, 0);
  // overflow: hidden;

  position: fixed;
  top: 0;
  width: $contextual-sidebar-width;
  border-right: 1px solid hotpink;
  // border-right: 1px solid $border-color;
  box-shadow: 0 3px 9px 0 rgba(169,184,200,.15);
  -webkit-box-shadow: 0 3px 9px 0 rgba(169,184,200,.15);
  -moz-box-shadow: 0 3px 9px 0 rgba(169,184,200,.15);

  a,
  button {
    transition: background 0.2s, color 0.2s;
  }

  a {
    color: $sidebar-text-color;
    text-emphasis: none;
  }

  i + span {
    margin-left: 10px;
  }

  ul {
    padding-left: 0;
    list-style: none;
  }

  li {
    white-space: nowrap;

    a {
      transition: padding 0.3s;
    }
  }

  .user-avatar {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 50%;
    transition: width 0.3s, height 0.3s;
  }

  .user-name {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #374358;
  }

  .user-email {
    font-size: 12px;
    @extend .text-truncate;
  }

  .btn-plus {
    margin: 10px 30px;
    border-radius: 0.438rem;
    @extend .btn;
    @extend .btn-primary;
  }
}

.contextual-sidebar-header,
.contextual-sidebar-footer {
  padding: 0 $sidebar-padding-x;
  background-color: #fff;

  a:hover, a:focus {
    color: $darker;
    text-decoration: none;
  }
}

.contextual-sidebar-header {
  width: calc(100% - 1px);
  padding: $sidebar-padding-x;

  a,
  button,
  [class*=btn] {
    transition: padding 0.3s;
    font-size: 15px;
    text-align: center;
  }

  a {
    display: block;
  }
}

.contextual-sidebar-footer {
  position: absolute;
  right: 1px;
  bottom: 0;
  left: 0;
}

.contextual-sidebar-nav {
  height: -webkit-calc(100% - #{$context-header-height} - #{$context-footer-height});
  height:    -moz-calc(100% - #{$context-header-height} - #{$context-footer-height});
  height:         calc(100% - #{$context-header-height} - #{$context-footer-height});
  overflow-x: hidden;

  .nav-list {
    a {
      display: block;
      overflow-x: hidden;
      padding: 10px $sidebar-padding-x;
      line-height: 1;
      font-size: 16px;
      font-weight: 500;
      color: $sidebar-text-color;

      i {
        font-size: 26px;
        vertical-align: middle;
      }

      i + span {
        vertical-align: middle;
      }
    }

    a:hover,
    a:focus {
      color: $primary;
      text-decoration: none;
    }

    a.disabled,
    a:disabled {
      color: #d2d8e3;
    }

    .nav-divider {
      padding: 10px 30px;


      &:before {
        content: '';
        display: block;
        border-top: 1px solid $border-color;
      }
    }

    .badge {
      vertical-align: middle;
    }

    span + .badge {
      margin-left: 3px;
    }

    li.active > a {
      color: $primary;
      text-decoration: none;
    }

    li:last-child {
      margin-top: 10%;
    }
  }
}

// 좁은화면 대응은 다음 마일드 스톤에서...
// 툴팁 IE 호환성 이슈 있음.
//@media (max-width: 1279px) {
//  .contextual-sidebar {
//    width: $icon-sidebar-width;
//
//    .user-avatar {
//      margin-bottom: 0;
//    }
//
//    .btn-plus {
//      width: auto;
//      margin: 10px;
//      padding: 3px !important;
//
//      i {
//        font-size: 95% !important;
//      }
//    }
//  }
//
//  .contextual-sidebar-header {
//    padding: 10px;
//
//    .user-avatar {
//      width: 100%;
//      height: 100%;
//    }
//
//    a span,
//    .user-name,
//    .user-email {
//      display: none;
//    }
//
//    .plus-btn {
//      width: 30px;
//      height: 30px;
//      margin: 0 auto;
//      padding: 4px;
//    }
//  }
//
//  .contextual-sidebar-footer {
//    display: none;
//  }
//
//  .contextual-sidebar-nav {
//    .nav-list {
//      li a {
//        padding-left: 12px;
//        padding-right: 12px;
//
//        i + span {
//          display: none;
//        }
//      }
//
//      span + .badge {
//        margin-left: 10px;
//      }
//    }
//  }
//}

.toggle-sidebar-button,
.close-nav-button {
  display: none;
  transition: width 0.3s;
  position: fixed;
  top: 0;
  width: $contextual-sidebar-width - 1px;
  height: 40px;
  padding: 4px 10px;
  background-color: #fff;
  border: 0;
  border-bottom: 1px solid #e5e5e5;

  &:hover,
  &:hover {
    background-color: #fafafa;
    color: #2e2e2e;
  }

  i {
    margin-right: 8px;
  }

  .collapse-text {
    white-space: nowrap;
    overflow: hidden;
  }
}

//.sidebar-collapsed-desktop .toggle-sidebar-button {
//  padding: 12px 15px;
//  width: 49px;
//
//  i {
//    margin-bottom: 20px;
//    transform: rotate(180deg);
//  }
//}

.tooltip-sidebar-nav {
  left: 46px !important;
  z-index: 10;
  @include tooltip-custom($tooltip-primary-bg);

  &.bs-tooltip-left .arrow {
    left: 0 !important;
    right: inherit !important;

     &:before {
       border-width: 0.4rem 0.4rem 0.4rem 0;
       border-right-color: $tooltip-primary-bg !important;
     }
  }
}

@media (min-width: 1280px) {
  .tooltip-sidebar-nav {
    display: none;
  }
}
