<!--Scroll to top-->
<!-- <button type="button" class="back-to-top js-top">
  <i class="xi-arrow-top"></i><span class="sr-only">페이지 상단으로</span>
</button> -->
<!-- <ul class="scroller">
  <li class="page-up">
      <a href="#" data-direction="up"><i class="xi-angle-up-thin"></i></a>
  </li>
  <li class="page-down">
      <a href="#" data-direction="down"><i class="xi-angle-down-thin"></i></a>
  </li>
</ul> -->
<footer class="layout-footer">
  <div class="container">
    <a href="#" class="logo-link">
      <img src="/images/logo.png" alt="하단 로고">
    </a>
    <p class="address">주소를 적어주세요</p>
    <p class="contact">+82 000 0000 0000</p>
    <p class="copyright">&copy; <script>document.write(new Date().getFullYear())</script> All rights reserved.</p>
  </div>
</footer>
