//
// Helpsers > Modal fullscreen
// --------------------------------------------------

// 부트스트랩 모달 팝업 fullscreen

@mixin modal-fullscreen() {
  padding: 0 !important;

  .modal-dialog {
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .modal-content {
    height: auto;
    border: 0 none;
    border-radius: 0;
  }
}

@media (max-width: 767px) {
  .modal-fullscreen-xs-down {
    @include modal-fullscreen();
  }
}

@media (max-width: 991px) {
  .modal-fullscreen-sm-down {
    @include modal-fullscreen();
  }
}

@media (max-width: 1199px) {
  .modal-fullscreen-md-down {
    @include modal-fullscreen();
  }
}

.modal-fullscreen {
  @include modal-fullscreen();
}
