/*
 * NEXON Lv2 Gothic
 */

@font-face {
font-family: "NEXON Lv2 Gothic Light";
src: url("./images/NEXON_Lv2_Gothic_Light.eot");
src: url("./images/NEXON_Lv2_Gothic_Light.woff");
src: url('./images/NEXON_Lv2_Gothic_Light?#iefix') format('embedded-opentype'), }
}

@font-face {
font-family: "NEXON Lv2 Gothic";
src: url("./images/NEXON_Lv2_Gothic.eot");
src: url("./images/NEXON_Lv2_Gothic.woff");
src: url('./images/NEXON_Lv2_Gothic?#iefix') format('embedded-opentype'), }
}

@font-face {
font-family: "NEXON Lv2 Gothic Bold";
src: url("./images/NEXON_Lv2_Gothic_Bold.eot");
src: url("./images/NEXON_Lv2_Gothic_Bold.woff");
src: url('./images/NEXON_Lv2_Gothic_Bold?#iefix') format('embedded-opentype'), }
}
