<header class="header-wrap">
  <div class="col-left">
    <!-- hamburger button -->
    <button type="button" class="hamburger-btn js-toggle-sidebar"><i class="xi-bars"></i><span class="sr-only">사이드메뉴 접기/펼치기</span></button>
    <!-- logo -->
    <a href="#" class="logo-link"><img src="./images/logo-dif-navigator.png" data-rjs="3" alt="logo"></a>
  </div>
  <div class="col-right">
    <!-- search form -->
    <div class="search-input-wrap">
      <form action="">
        <div class="search-input-group">
          <i class="search-icon xi-search"></i>
          <input type="text" class="search-input" placeholder="search">
          <!--<button type="submit" class="search-btn"><i class="xi-search"></i><span class="sr-only">검색</span></button>-->
        </div>
      </form>
    </div>

    <!-- user dropdown -->
    <div class="dropdown user-dropdown">
      <button class="dropdown-btn dropdown-toggle" data-toggle="dropdown">
        <span class="user-name">홍길동</span>
      </button>
      <div class="dropdown-menu">
        <a href="#" class="dropdown-item">프로필 수정</a>
        <a href="#" class="dropdown-item">로그아웃</a>
      </div>
    </div>

    <!-- global navigation -->
    <!-- <ul class="nav-list">
      <li>
        <a href="#">
          <i class="nav-icon"></i><span class="nav-text">menu 01</span>
          <i class="arrow-icon xi-angle-down-min"></i>
        </a>
        <ul>
          <li><a href="#">menu 01-01</a></li>
          <li><a href="#">menu 01-02</a></li>
          <li><a href="#">menu 01-03</a></li>
          <li><a href="#">menu 01-04</a></li>
        </ul>
      </li>
    </ul> -->
  </div>
</header>
