<!-- skipToContents -->
<a class="skip-to-content" href="#content">
  <span class="skip-text">본문 바로가기 (Skip to content)</span>
</a>

<header class="page-header">

  <div class="container-limited">

    <!-- logo -->
    <a href="home.html" class="brand-top">
      <img src="images/logo-top.png" data-rjs="2" alt="상단로고">
    </a>

    <!-- menus -->
    <nav class="navbar-menu">
      <ul class="menu-top" id="main-menu">
        <li class="menu-item"><a href="#" class="menu-link">메뉴 1</a></li>
        <li class="menu-item"><a href="#" class="menu-link">메뉴 2</a></li>
      </ul>
    </nav>

  </div>

</header>
