<!-- 검색폼 -->
<div class="search">
  <div class="dropdown">
    <button class="dropdown-toggle" type="button" data-toggle="dropdown">선택</button>
    <ul class="dropdown-menu">
      <li class="dropdown-item"><a href="#">통합</a></li>
      <!--<li class="divider"></li>-->
      <li class="dropdown-item"><a href="#">카테고리1</a></li>
      <li class="dropdown-item"><a href="#">카테고리2</a></li>
    </ul>
  </div>
  <div class="search-input-group">
    <input class="search-input" type="text" placeholder="입력어">
    <button class="search-btn" type="submit">
      <span class="sr-only">조회</span><i class="xi-search"></i>
    </button>
  </div>
</div>
