<div class="nav-sidebar">
  <div class="sidebar-header">
    <h2 class="sidebar-title">
      <i class="nav-icon xi-apps"></i><span class="nav-text">All Application</span>
    </h2>
  </div>

  <div class="sidebar-body js-simple-scrollbar">
    <ul class="sidebar-nav-list" id="accordionMenu">
      <li class="">
        <a class="js-collapse-nav" data-toggle="collapse">
          <i class="nav-icon"></i><span class="nav-text">menu 01</span>
          <i class="arrow-icon xi-angle-down-min"></i>
        </a>
        <ul class="collapse" data-parent="#accordionMenu"> <!-- show로 활성화 가능 -->
          <li><a href="#">menu 01-01</a></li>
          <li><a href="#">menu 01-02</a></li>
          <li><a href="#">menu 01-03</a></li>
          <li><a href="#">menu 01-04</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <!-- <div class="sidebar-footer">
    <div class="sidebar-copyright">
      ⓒ2020 D.iF, Inc. All rights reserved.
    </div>
  </div> -->
</div>
