//
// Responsive styles
// --------------------------------------------------

/**
 * @section Breakpoints
 * 자바스크립트에서 분기점 체크용도
 * 화면에 노출되지 않음
 */

body:before {
	content: 'xs';
	display: none;
	visibility: hidden;
}
@media (min-width: #{map-get($breakpoints, sm)}) {
	body:before {
		content: 'sm';
	}
}
@media (min-width: #{map-get($breakpoints, md)}) {
	body:before {
		content: 'md';
	}
}
@media (min-width: #{map-get($breakpoints, lg)}) {
	body:before {
		content: 'lg';
	}
}
@media (min-width: #{map-get($breakpoints, xl)}) {
	body:before {
		content: 'xl';
	}
}
@media (min-width: #{map-get($breakpoints, xxl)}) {
	body:before {
		content: 'xxl';
	}
}
