/**
<%= fontName %> Webfont
*/
@font-face {
  font-family: '<%= fontName %>';
  src: url('<%= fontName %>.eot?<%= fontDate %>');
  src: url('<%= fontName %>.eot?#iefix-<%= fontDate %>') format('embedded-opentype'),
  url('<%= fontName %>.woff2?<%= fontDate %>') format('woff2'),
  url('<%= fontName %>.woff?<%= fontDate %>') format('woff'),
  url('<%= fontName %>.ttf?<%= fontDate %>') format('truetype');
  font-weight: normal;
  font-style: normal;
}


[class^='ic-'],
[class*=' ic-'] {
  display: inline-block;
  font-family: '<%= fontName %>';
  font-weight: normal;
  font-style: normal;
  font-size: inherit;
  /*vertical-align: middle;*/
  line-height: 1;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
Glyphs list
*/
<% _.each(glyphs, function(ic){ %>
.ic-<%= ic.name %>:before {
content: '\<%= ic.unicode[0].charCodeAt(0).toString(16) %>';
}
<% }) %>
