/**
 * Helpers
 * 클래스, 기타 도우미들
 */

// only for screen-reader
.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  left: -9999px;
  top: -9999px;
}

.text-underline {
  text-decoration: underline;
}

.object-fit-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// 마우스 오버 시 링크에 언더라인 주기
// .hover-underline {
//   position: relative;
//   display: inline-block;
//
//   &:after,
//   &:after {
//     display: block;
//     padding-top: 2px;
//     content: "";
//     border-bottom: 1px solid transparent;
//   }
//
//   &:hover::after,
//   &:focus::after {
//     border-color: #fff;
//   }
// }
