/*
 * Body
 */

$page-with-header-fixed: 64px;
$page-with-footer-fixed: 100px;
$contextual-sidebar-active: 240px;

html,
body,
.page-wrap {
  height: 100%;
}

body {
  overflow-x: hidden;
  background: #fff;
}

.body-overlay {
  content: '';
  display: none;
  position: fixed;
  top: $page-with-header-fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}

.skip {
  display: block;
  z-index: 999;
  padding: 1em;
  color: #000;
  text-align: center;
  outline: 0;
  @include sr-only();
  @include sr-only-focusable();

  .text {
    margin: .5em;
    padding: .5em;
    outline: 1px dotted;
  }
}

// PC 화면 사이드바 펼침
.contextual-sidebar {
  padding-left: $contextual-sidebar-active;
}

.contextual-sidebar-active {
  padding-left: 0;
  transition: padding-left .2s ease-in-out;
}

.content-wrap {
  height: 100%;
  padding-top: $page-with-header-fixed;
  padding-bottom: $page-with-footer-fixed;
}
