/*
 * Footer
 */

.page-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: $page-with-footer-fixed;
  border-top: 1px solid $border-color;
  font-size: 13px;
  background-color: #fff;
  text-align: center;
}


.policy-nav {
  padding-left: 0;
  list-style: none;
  @include clearfix;

  a {
    display: inline-block;
    padding: 20px 0;
    font-size: 12px;
    font-weight: 500;

    & + a {
      margin-left: 10px;
    }
  }
}

.copyright {
  // line-height: 1.25;
}

.back-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
