/*
 * Sidebar
 */

@import '../vendors/simple-scrollbar';

$sidebar-header-height: 60px;
$sidebar-footer-height: 50px;
$sidebar-padding-x: 15px;

// 사이드바
.sidebar {
  z-index: 1;
  overflow-x: hidden;
}

.sidebar-left {
  left: 0;
}

.sidebar-fixed {
  position: fixed;
  top: $page-with-header-fixed + 1;
  bottom: 0;
}

.sidebar-header,
.sidebar-footer,
.sidebar-body {
  overflow: hidden;
  position: absolute;
  right: 0;
  left: 0;
  margin-right: 1px;

  a:hover, a:focus {
    color: $gray-darker;
    text-decoration: none;
  }
}

.sidebar-header,
.sidebar-footer {
  padding-right: $sidebar-padding-x;
  padding-left: $sidebar-padding-x;
}

// 사이드바 헤더
.sidebar-header {
  top: 0;
  height: $sidebar-header-height;
}

// 사이드바 푸터
.sidebar-footer {
  bottom: 0;
  height: $sidebar-footer-height;
}

// 사이드바 바디
.sidebar-body {
  top: $sidebar-header-height;
  bottom: $sidebar-footer-height;
}

// 메뉴 사이드바
.nav-sidebar {
  @extend .sidebar;
  @extend .sidebar-fixed;
  @extend .sidebar-left;
  width: $contextual-sidebar-active;
  font-size: 12px;
  background-color: #f9fafb;
  white-space: nowrap;
  box-shadow: inset -1px 0 0 $border-color;
  transition: transform 0.2s ease-in-out;

  .nav-icon + .nav-text {
    margin-left: 8px;
  }
}

// PC 화면 사이드바
.contextual-sidebar .nav-sidebar {
  transform: translateX(0);

}
.contextual-sidebar-active .nav-sidebar {
  transform: translateX(-100%);
}

// 타이틀
.sidebar-title {
  margin-top: 30px;
  font-size: 14px;
  color: $gray-darker;
  white-space: nowrap;
}

// 메인 메뉴
.sidebar-nav-list {
  list-style: none;

  // 메뉴 링크
  a {
    display: block;
    padding: 4px $sidebar-padding-x;
    font-size: 12px;
    white-space: nowrap;
    cursor: pointer;
    &:hover,
    &:focus {
      color: $primary;
    }
  }

  // 1 뎁스
  > li {
    > a {
      position: relative;
      padding-top: 10px;
      padding-right: $sidebar-padding-x * 3;
      padding-bottom: 10px;
      font-size: 14px;
      color: $gray-darker;
    }

    &.active > a,
    > a.active {
      background-color: $primary;
      color: #fff;
    }
  }

  // 2 뎁스
  ul {
    width: 100%;
    background-color: #eff0f2;

    > li {
      > a {
        padding-left: $sidebar-padding-x + 25px;
      }

      &:first-child > a {
        padding-top: 10px;
      }

      &:last-child > a {
        padding-bottom: 12px;
      }

      &:active > a,
      &.active > a {
        color: $primary;
      }
    }
  }

  .nav-icon,
  .arrow-icon {
    position: relative;
    top: 2px;
    font-size: 16px;
  }

  .arrow-icon {
    position: absolute;
    top: 50%;
    right: $sidebar-padding-x * 2;
    transform: translateY(-50%);
  }
}

// 카피라이트
.sidebar-copyright {
  padding-top: 10px;
}
