//
// PAGES > COMMON STYLES
// ------------------------------------------------------------

//
// Badge Style
//

.badge {
  font-weight: 500;
}

.badge-info {
  color: #008889;
}

.badge-pill.badge-info {
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 400;
}


//
// Button Style
//

// 아이콘 버튼

[class^=icon-btn] {
  width: auto;
  @extend .btn;
}
.icon-btn-primary {
  color: $primary;
}
.icon-btn-blue {
  color: $blue;
}

.icon-btn-primary,
.icon-btn-blue {
  padding: 0;
  background-color: transparent;
  font-size: 22px;
  line-height: 1;
}


//
// Card Style
//

.card + .card {
  margin-top: 20px
}

.card-default {
  font-size: 14px;
  word-break: break-word;
  word-break: keep-all;

  .card-header,
  .card-footer,
  .card-body {
    padding: 20px;
  }

  .bg-darker .h3 {
    color: #fff !important;
  }

  .collapse .card-body {
    border-top: 1px solid $border-color
  }
}

.card-dashboard {
  height: 250px;

  .card-body {
    overflow: auto;
    height: 180px;
    padding: 0.938rem;
  }
}

.card-header {
  .h1, .h2, .h3, .h4, .h5 {
    margin: 0;
  }
}

.card-title {
  margin-bottom: 0.75rem;
  @extend .h4;
}


//
// Form style
//

$input-color: $darker;
$input-bg: #e9ecf1;

*.disabled,
:disabled {
  pointer-events: none;
  cursor: not-allowed;
}

::placeholder {
  color: $body-color;
}

input::-webkit-input-placeholder {
  color: $body-color;
}
input:-ms-input-placeholder {
  color: $body-color;
}
textarea::-webkit-input-placeholder {
  color: $body-color;
}
textarea:-ms-input-placeholder {
  color: $body-color;
}

.form-group {
  margin-bottom: 1.25rem;

  .label {
    margin-bottom: 0.625rem;
    color: $input-color;
    font-size: 16px;
    font-weight: 500;
  }
}

.form-control:not(select),
.form-control:not(.dropdown-toggle) {
  border-color: $input-bg;
  background-color: $input-bg;
  color: $input-color;
}

.form-control:focus {
  color: $input-color;
  background-color: #dbf4f5;
  border-color: #dbf4f5;
}

.col-form-label {
  color: $darker;
  font-size: 16px;
  font-weight: 500;
}

.custom-radio-group {
  margin-left: -6px;

  label {
    margin-left: 6px;
    border-radius: 18px;
    color: $body-color;
    font-size: 14px;
    @extend .btn;
    @extend .btn-outline-secondary;

    &:hover {
      background-color: #fff;
    }
  }

  input[type="radio"],
  input[type="checkbox"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }

  input[type="radio"]:not(:disabled):not(.disabled):hover + label,
  input[type="radio"]:not(:disabled):not(.disabled):focus + label,
  input[type="checkbox"]:not(:disabled):not(.disabled):hover + label,
  input[type="checkbox"]:not(:disabled):not(.disabled):focus + label {
    border: solid 1px $primary;
    background: #fff;
    color: darken($primary, 10%);
  }

  input[type="radio"]:not(:disabled):not(.disabled):checked + label,
  input[type="checkbox"]:not(:disabled):not(.disabled):checked + label {
    border: solid 1px $primary;
    background-color: $primary;
    color: #fff;
  }

}

.date-input-group {
  .date-input {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    font-size: 14px;
  }
}

.form-divider {
  margin: 10px 0 20px;
  border-top: 1px dashed $border-color;
}


//
// Modal Style
//

.modal-header,
.modal-footer,
.modal-body {
  padding: 1.25rem;
}

.modal-footer {
  position: relative;
  padding-top: 0.625rem;
  border: 0;
  text-align: right;
  @include clearfix();

  [class^=btn] {
    min-width: 6.125rem;
  }
}

.modal-title {
  font-size: 20px;
  color: $darker;
}

.modal {
  .form-group {
    margin-bottom: 15px;
  }

  .label {
    font-size: 14px;
  }
}


// Modal-alert

.modal-warning,
.modal-danger,
.modal-success {
  width: 376px;

  .modal-header {
    height: 6.25rem;
    border-bottom: 0;
  }

  .modal-body {
    padding: 0 1.25rem 0;
    text-align: center;

    i {
      font-size: 4.375rem;
      padding: 0.625rem;
      margin-top: -2.5rem;
      margin-bottom: 1rem;
      background: #ffffff;
      border-radius: 50%;
    }

    .xi-close-circle-o {
      color: $yellow;
    }

    .xi-error-o {
      color: $red;
    }

    .xi-check-circle-o {
      color: $primary;
    }

    .emphasis {
      color: $darker;
      font-size: 1.25rem;
      font-weight: 500;
      margin-bottom: .625rem;
    }
  }

  .modal-footer {
    padding: 0.875rem 1.25rem 2.5rem;
    border-top: 0;
    text-align: center;
  }
}

.modal-warning {
  .modal-header {
    background: #fcedda;
  }
}

.modal-danger {
  .modal-header {
    background: #fae2e2;
  }
}

.modal-success {
  .modal-header {
    background: #e9f3f4;
  }
}


//
// Tab Style
//

.nav-tabs {

  .nav-link {
    padding: 20px 100px;
    font-size: 20px;
    font-weight: 500;
    color: $body-color;

    &.active {
      border-color: $border-color;
      border-bottom-color: $body-bg;
      background-color: transparent;
      color: $darker;
    }

    &:not(.active):hover,
    &:not(.active):focus {
      border-color: transparent;
    }
  }

}

.tab-content {

  .card {
    margin-top: 30px
  }

}


//
// Table Style
//

// 상세 테이블

.view-table {

  @extend .custom-table;
  @extend .custom-table-bordered;
  //@extend .custom-table-rounded;

  th, .th {
    color: $darker;
    background-color: #f6fafb;
    font-size: 0.9375rem;
    font-weight: 500;
  }

  tbody {
    th, .th, td {
      padding: 0.875rem 0.9375rem;
    }

    th, .th {
      width: 19%;
    }

    td {
      background-color: #fff;
      font-size: 0.9375rem;
    }

    th + td + th + td,
    .th + td + .th + td {
      width: 31%;
    }
  }

}

// 목록 테이블

.data-table {
  @extend .custom-table;
  //@extend .custom-table-bordered;
  //@extend .custom-table-rounded;

  &:not(.table-sm) {
    th, td {
      padding: 0.8125rem 1.25rem;
    }
  }

  &.table-sm {
    th, td {
      padding: 0.8125rem 0.625rem;
    }
  }

  th, td {
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;

    .custom-checkbox-label {
      position: relative;
      top: 2px;
    }

    .custom-checkbox {
      margin: 0;
    }

    [class^=text-ellipsis] {
      @extend .text-truncate;
      max-width: 250px;
      text-align: left;
    }

    .text-ellipsis-200 {
      max-width: 200px;
    }

    .text-ellipsis-300 {
      max-width: 300px;
    }

    .text-ellipsis-350 {
      max-width: 350px;
    }

    .text-ellipsis-400 {
      max-width: 400px;
    }

    .text-ellipsis-500 {
      max-width: 500px;
    }
  }

  thead {
    th, td {
      vertical-align: middle;
      color: $body-color;
      font-weight: 500;
      background-color: #f5f5f5;
    }

    tr:first-child {
      th, td {
        border-top: none;
      }
    }
  }

  tbody {
    th, td {
      border-top: 1px solid $border-color;
      font-size: 14px;
    }

    td {
      background-color: #fff;
    }
  }
}

.table-hover tbody tr:hover th,
.table-hover tbody tr:hover td {
  background-color: #f6fafb;
}

// 카드 내부 테이블

.card-default .view-table,
.card-default .data-table {
  width: calc(100% + 2px);
  margin: -1px;
}


//
// Title Style
//

h1, h2, h3, h4, h5 {
  margin: 0;
  color: $darkest;
}

h1, .h1 {
  line-height: 1.5;
  font-weight: 500;
  font-size: 1.5rem; // 24px
  color: $darkest;
}

h2, .h2 {
  line-height: 1.5;
  font-weight: 500;
  font-size: 1.5rem; // 24px
  color: $darkest;
}

h3, .h3 {
  margin-bottom: 0.625rem;
  line-height: 1.5;
  font-size: 1.25rem; // 20px
  font-weight: 500;
  color: $darkest;
}

h4, .h4 {
  font-size: 1rem; // 16px
  font-weight: 500;
  color: $darkest;
}

h5, .h5 {
  font-size: 0.9375rem; // 14px
  font-weight: 500;
}


//
// Tooltip
//
.tooltip { pointer-events: none; }


//
// Misc Style
//

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.avatar-lg {
  width: 96px;
  height: 96px;
}

.scrollable {
  overflow-y: auto;
}

// 스크롤바
.scrollable {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    background-color: transparent;
  }
  &::-webkit-scrollbar {
    width: 5px !important; // 3px
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

//div * {
//  scrollbar-width: none; /* Firefox */
//  -ms-overflow-style: none; /* IE 10+ */
//
//  ::-webkit-scrollbar-track {
//    -webkit-box-shadow: none !important;
//    background-color: transparent;
//  }
//  ::-webkit-scrollbar {
//    width: 5px !important; // 3px
//    background-color: transparent;
//  }
//  ::-webkit-scrollbar-thumb {
//    background-color: transparent;
//  }
//}

.on-scrollbar {
  scrollbar-width: thin; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.on-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: none !important;
  background-color: transparent !important;
}

.on-scrollbar::-webkit-scrollbar {
  width: 10px !important; // 6px
  background-color: transparent;
}

.on-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e9ecf1;
  border-radius: 10px;
}






