// ------------------------------------------------------------
// Management
// ------------------------------------------------------------

// * == 고객 리스트 ============ * //
.content-customer-fixed {
  position: fixed;
  top: 70px;
  bottom: 0;
  width: $content-customer-fixed;
  padding-right: 10px;
  padding-top: 24px;
  padding-bottom: 24px;
  z-index: 9;
  background: #fafafa;
}
.content-customer {
  padding-left: $content-customer-fixed;
}
.customer-list-wrap {
  height: 100%;
  overflow-y: auto;
}

.customer-controls {
  color: $bluesh-gray-1;
  
  i, span {
    vertical-align: middle;
  }
  
  i {
    color: $bluesh-gray-3;
    font-size: 1.375rem;
    margin-right: 3px;
  }
  span {
    color: $bluesh-gray-1;
  }
  button {
    height: 24px;
    padding: 0;
    
    &:hover {
      color: $primary;
    }
  }
}

.customer-search {
  position: relative;
  margin-top: .9375rem;
  
  .btn-search {
    position: absolute;
    top: 1px;
    right: 1px;
    padding: .5rem;
    width: 3.125rem;
    height: 2.5rem;
    background: #ffffff;
    border: 0;
    border-radius: 10px;
    
    &:hover {
      i {
        color: $primary;
      }
    }
    
    i {
      color: $bluesh-gray;
      font-size: 1.375rem;
    }
  }
}

.customer-list {
  @include clearfix;
  display: block;
  width: 100%;
  padding: .9375rem;
  cursor: pointer;
  
  &.active,
  &:hover {
    background: rgba($primary, .45);
    transition: background .3s linear;
  }
  
  img, 
  .customer-info {
    float: left;
  }
  
  img {
    width: 3.125rem;
    height: 3.125rem;
    margin-right: .9375rem;
  }
  .customer-info {
    width: calc(100% - 65px);
  }
  
  .customer-info-name {
    color: $bluesh-black-1;
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: .3125rem;
    
    span {
      float: right;
      color: $bluesh-gray-2;
      font-size: .875rem;
    }
  }
  
  .customer-info-detail {
    color: $bluesh-gray-2;
    font-size: .875rem;
    font-weight: 400;
    margin-bottom: 0;
    
    span {  
      &:after {
        content: "";
        display: inline-block;
        width: 1px;
        height: .75rem;
        background: $bluesh-gray-2;
        margin-right: .625rem;
        margin-left: .625rem;
      }
      
      &:last-of-type {
        &:after {
          content: inherit;
          content: initial;
        }
      }
    }
    
    .badge {
      float: right;
      color: #ffffff;
      font-size: 12px;
      font-weight: 300;
      background: #3177c7;
      border-radius: 9px;
    }
  }
}


//  * == 고객 정보 ============ * //
.customer-board-wrap {
  height: 660px;
  overflow-y: auto;
}
.btn-more-detail {
  color: $custom-gray;
  font-size: .875rem;
}

.card-list {
  .btn-chat, 
  .btn-edit,
  .btn-call {
    width: 2.188rem;
    height: 2.188rem;
    background: #f1f1f4;
    border: 0;
    border-radius: 50%;
    padding: 3px;
    
    i {
      color: #a7afb9;
      font-size: 1.5rem;
    }
  }
  
  .btn-chat,
  .btn-group-edit,
  .btn-call {
    display: inline-block;
    vertical-align: middle;
  }
  
  .btn-edit {
    &:after {
      content: inherit;
      content: initial;
    }
  }
  
  .dropdown-menu {
    text-align: center;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
    background-color: $contents-bg;
    border: 0;
    
    .dropdown-item {
      min-width: 190px;
      color: $custom-gray;
      padding: 10px 5px;
      
      &:focus {
        color: #ffffff;
      }
    }
  }
}

// * == 고객 게시판 ========== * //

.customer-board-date {
  text-align: center;
  padding: 40px 0 30px 58px;
  
  &:before {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background: rgba(112, 112, 112, 0.49);
    margin-bottom: -13px;
  }
  
  span {
    display: inline-block;
    background: #ffffff;
    padding: 0 15px;
    margin-bottom: -17px;
  }
}

.customer-board {
  @include clearfix;
  
  &+.customer-board {
    margin-top: 25px;
  }
  
  &.customer {
    .customer-chat {
      background: #f2f2f2;
    }
    .customer-board-content {
      width: calc(100% - 58px);
    }
  }
  
  &.admin {
    .customer-board-content {
      float: right;
    }
    .customer-chat {
      background: rgba(#00babc, .1);
    }
  }
  
  .customer-board-user,
  .customer-board-content {
    float: left;
  }
  
  .customer-board-user {
    width: 48px;
    height: 48px;
    text-align: center;
    background: #f2f2f2;
    border-radius: 50%;
    margin-right: 10px;
    
    i {
      color: $primary;
      font-size: 25px;
      padding: 10px;   
    }
  }
  
  .customer-name {
    color: #6b7889;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .customer-chat {
    display: inline-block;
    max-width: 520px;
    color: #313747;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 0;
  }
  
}
.custom-chat-submit {
  &.custom-chat-submit {
    position: relative;
    padding-left: 78px;
    
    .form-control {
      height: 50px;
      background: #f2f2f2;
      border: 0;
    }
    
    .btn-group-chat {
      position: absolute;
      top: 26px;
      right: 30px;
      
      .btn-submit,
      .btn-picture {
        width: 34px;
        height: 34px;
        background: #ffffff;
        border: 0;
        border-radius: 50%;
        
        &:hover {
          background: $primary;
          transition: background .3s ease-in;
          
          i {
            color: #ffffff;
          }
        }
        
        i {
          font-size: 20px;
        }
      }
    }
  }
}