//
// PAGES > 기관정보
// ------------------------------------------------------------

// 기관정보 수정
.btn-img-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0;
  line-height: 1;
  border-radius: 50%;
  background-color: #313c5b;
  color: #fff;
  font-size: 1.25rem;
  text-align: center;
  @extend .btn;
}
